<div class="w-[1200px] container mx-auto">


  <h1 class="text-5xl font-bold">Your <%= @section.name %> assistant </h1>

  <div class="flex">
    <div class="w-1/3 flex flex-col">

      <%# Iterating through all the chats including the newly created one %>
      <% if @chats.any? %>
        <% @chats.each do |chat| %>

        <%# Checking if it is the last chat to have been added to create a different layout %>
          <% if chat.id == @chats.first.id %>
            <div class="card card-border bg-base-100 w-100">
              <div class="card-body">
                <h2 class="card-title" id="chat-title"><%= chat.title %></h2>
                <div class="card-actions justify-end">
                  <% if chat == @chat %>
                    <%= link_to "Current chat", "#", class: "btn btn-soft btn-primary w-35 cursor-default pointer-events-none" %>
                  <% else %>
                    <%= link_to "Talk to this chat", chat_path(chat), class: "btn btn-soft w-35" %>
                  <% end %>
                </div>
              </div>
            </div>

          <%# Adding standard layout to all the other historic chats %>
          <% else %>
            <div class="card card-border bg-base-100 w-100">
              <div class="card-body">
                <h2 class="card-title"><%= chat.title %></h2>
                <div class="card-actions justify-end">
                  <% if chat == @chat %>
                    <%= link_to "Current chat", "#", class: "btn btn-soft btn-primary w-35 cursor-default pointer-events-none" %>
                  <% else %>
                    <%= link_to "Talk to this chat", chat_path(chat), class: "btn btn-soft w-35" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="w-2/3">
      <%# visualizing the messages depending on their role %>
      <div id="messages">
        <%= render "messages/messages", messages: @chat.messages %>   
      </div>

      <%# offering forms to ask new messages to the AI %>
      <div id="new_message_container" class="bg-base-200 shadow-inner">
        <%# chat_messages_path(@chat) OLD PATH %>
         <%= render "messages/form", chat: @chat, message: @message %>
      </div>
    </div>
  </div>
</div>